<!DOCTYPE html>
<html lang="en">

<body class="container">

  <main>
    <div>
      <h1>ENTER YOUR DATA</h1>
      <!-- TODO: -->
      <p>data entry form</p>
    </div>
    
    <div>
      <h2>Click below to see results:</h2>
      <a href="/results"><button>Get Results and Statistics</button></a>
    </div>
  </main>

</body>

</html>