<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Results</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body class="results-page">

  <main class="container">
    <div class="results-box">
      <h1>Results</h1>
      <p>Statistics fetched from the Analytics service:</p>
      
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Grade</th>
          </tr>
        </thead>
        <tbody>
          <% statistics.forEach((statistic) => { %>
            <tr>
              <td><%= statistic.id %></td>
              <td><%= statistic.grade %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>

    <div class="home-btn-container">
      <h2>Click below to go home:</h2>
      <a href="/"><button class="home-btn">Return Home</button></a>
    </div>
  </main>

</body>
</html>
