<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Submit Grade</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body class="submit-page">

  <div class="submit-container">
    <h1 class="submit-header">Submit Your Grade</h1>
    
    <form id="gradeForm" class="submit-form">
      <label for="grade" class="submit-label">Enter Grade:</label>
      <input type="number" id="grade" name="grade" placeholder="Enter Grade" required class="submit-input">
      <button type="submit" class="submit-btn">Submit Grade</button>
    </form>
  </div>

  <div class="home-btn-container">
    <h2>Click below to go results page:</h2>
    <a href="/results"><button class="home-btn">Return to Results Page</button></a>
  </div>

  <script src="/submit_script.js"></script> <!-- Link to external script -->
</body>
</html>